<head>Favourite Websites</head>

<% @bookmarks.each do |bookmark| %>
  <li class="bookmark" id="bookmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
    <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete" />
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
      <input type="submit" value="Update" />
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/comment" method="get">
      <input type="submit" value="Add Comment" />
    </form>
    <ul>
      <% bookmark.comments.each do |comment| %>
        <li><%= comment['text'] %></li>
      <% end %>
    </ul>
  </li>
<% end %>


Add bookmark:
<form action="/add_bookmark" method="post">
  <label for="url">
    URL:
    <input type="text" name="url">
  </label>
  <label for="title">
    Title:
    <input type="text" name="title">
  </label>
  <input type="submit" value="Submit">
</form>

<%= flash[:notice] %>
